* {
    margin: 0;
    border: border-box;
    font-family: 'Hanken Grotesk';
    font-size: 18px;
}

.bg-div {
    height: 900px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rec-div {
    background-color: hsl(0, 0%, 100%);
    height: 450px;
    width: 650px;
    border: 15px;
    box-shadow: 23px 24px 54px -30px rgba(78,33,202,1);
    display: flex;
}

.Left-div {
    background-color: hsl(241, 81%, 54%) ;
    width: 325px;
    height: 450px;
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    color :hsl(241, 100%, 89%);
}

.circle {
    height: 170px;
    width: 170px;
    background-color: hsla(256, 72%, 46%, 1);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:hsl(241, 100%, 89%);
    box-shadow: 3px -17px 86px -15px rgba(255,255,255,0.52);
}

.heading {
    font-size: 4.8rem;
    color: white;
    font-weight: 800;
    font-family: 'Hanken Grotesk';
}

.Left-div p {
    text-align: center;
    padding-bottom: 15px;
}

#left-div-h1 {
    font-size: 1.5rem;
}

#left-div-h2{
    font-size: 2rem;
    color: white;
}

/* right divs */
.Right-divs {
    height: 450px;
    width: 325px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#right-div-h1 {
    text-align: left;
    font-size: 2rem;
    padding: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}

.op-1 {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

.con-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.con-button button{
    height: 50px;
    width: 250px;
    border: 0px;
    border-radius: 30px;
    size: 2rem;
    background-color: hsla(256, 72%, 46%, 1);
    color: white;
}

.con-button button:hover {
    background-color:hsl(224, 30%, 27%);
}


@media (max-width:1440px) {
    .bg-div {
        height: 900px;
        width: 1440px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rec-div {
        background-color: hsl(0, 0%, 100%);
        height: 450px;
        width: 650px;
        border: 15px;
        box-shadow: 23px 24px 54px -30px rgba(78,33,202,1);
        display: flex;
    }

    .Left-div {
        background-color: hsl(241, 81%, 54%) ;
        width: 325px;
        height: 450px;
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        flex-wrap: wrap;
        color :hsl(241, 100%, 89%);
    }

    .circle {
        height: 170px;
        width: 170px;
        background-color: hsla(256, 72%, 46%, 1);
        border-radius: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:hsl(241, 100%, 89%);
        box-shadow: 3px -17px 86px -15px rgba(255,255,255,0.52);
    }

    .heading {
        font-size: 4.8rem;
        color: white;
        font-weight: 800;
        font-family: 'Hanken Grotesk';
    }

    .Left-div p {
        text-align: center;
        padding-bottom: 15px;
    }

    #left-div-h1 {
        font-size: 1.5rem;
    }

    #left-div-h2{
        font-size: 2rem;
        color: white;
    }

    /* right divs */
    .Right-divs {
        height: 450px;
        width: 325px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #right-div-h1 {
        text-align: left;
        font-size: 2rem;
        padding: 25px;
    }

    .options {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        flex-wrap: wrap;
    }

    .op-1 {
        height: 50px;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        margin: 5px;
    }

    .con-button {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .con-button button{
        height: 50px;
        width: 250px;
        border: 0px;
        border-radius: 30px;
        size: 2rem;
        background-color: hsla(256, 72%, 46%, 1);
        color: white;
    }

    .con-button button:hover {
        background-color:hsl(224, 30%, 27%);
    }

}

@media (max-width:375px) {

    *{
        font-size: 12px;
    }
    .bg-div {
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rec-div {
        background-color: hsl(0, 0%, 100%);
        height: 850px;
        width: 100%;
        display: flex;
        flex-direction: column;


    }
    
    .Left-div {
        background-color: hsl(241, 81%, 54%) ;
        width: 375px;
        height: 400px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px ;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px ;
}

    .circle {
        height: 100px;
        width: 100px;
    }

    .Right-divs {
        height: 450px;
        width: 375px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .op-1 {
        height: 50px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        margin: 5px;
    }

    .con-button button{
        height: 50px;
        width: 300px;
        border: 0px;
        border-radius: 30px;
        size: 2rem;
        background-color: hsla(256, 72%, 46%, 1);
        color: white;
    }
}